// Fonts
// @import url('https://fonts.bunny.net/css?family=Nunito');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitcount:wght@100..900&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

body {
  background-image: url('../img/background.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

header {
  color: #9800e4;
  font-family: "Bitcount", system-ui;
  font-weight: 200;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  background-color: #000000cc;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  margin-bottom: 1.5rem;

  h1 {
    margin: 0;
    padding: 0.5rem 0;
  }
}


div.table_and_caption {
  font-family: "Share Tech Mono", monospace;
  font-size: 1rem;
  box-shadow: 6px -3px 30px 0px #000;
  overflow-x: auto;
  margin: 0;
}

.caption_title {
  padding: 0.75rem;
  padding-bottom: 0;
  border-bottom: 1px solid #fff;
}

table {
  color: #fff;
  background-color: #212529;
  width: 100%;

  th,
  td {
    padding: 0.25rem 0.5rem;
  }
}

tbody>tr:nth-child(odd) {
  background-color: #2a2d30;
}

tr.magical>td {
  color: #c889ef;
}

mark.cancelled {
  background-color: #ff0000cc;
}

mark.on_time {
  background-color: #63d10acc;
}

mark.delayed {
  background-color: #ffaa00cc;
}

footer {
  display: flex;
  align-items: center;
  color: #fff;
  background-color: #000000cc;
  box-shadow: 0 4px 30px #000;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  margin-top: 2.5rem;

  .img_credits {
    font-size: 0.6rem;
  }

  a {
    color: #c889ef;
    text-decoration: none;
  }
}